fastapi
uvicorn
pydantic>=2.7.4
python-dotenv
langchain-groq
langchain-community
langchain-core
langgraph
langchain
langsmith
langchain-chroma
sentence-transformers
chromadb
langchain_huggingface
beautifulsoup4
readability-lxml
html2text
cloudscraper
IPython
typing-extensions







